body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('../images/mainBG2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}
/* 禁用数字链接样式 */
a[href^="tel"] {
    text-decoration: none;
    color: inherit;
    pointer-events: none;
    cursor: default;
}

/* Projects & conference layout */
.projects-conferences {
    display: flex;
    gap: 20px;
    padding: 5px;
    margin: 20px auto 35px auto;
    max-width: 100px;
}

.projects {
    flex: 1.5; /* 占比1.5 */
    background: rgba(255,255,255,0.75);
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.conferences {
    flex: 1; /* 占比1 */
    background: rgba(255,255,255,0.75);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* project period */
h3 {
    color: #BB6830;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;
}

/* project name + details button */
h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    display: inline;
}

/* project details button */
h4 .details-button {
    display: inline-block;
    margin-left: 4px;
    vertical-align: baseline;
    position: relative;
    top: -2px;
    font-weight: 400;
    font-size: 0.45rem;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: #BB6830;
    border: none;
    color: white;
    box-shadow: none;          /* 去掉阴影 */
    text-decoration: none;
    transition: all 0.3s ease;       /* 平滑过渡 */
    -webkit-tap-highlight-color: transparent;
}

h4 .details-button:hover {
    background-color: #F8D794;
    color: #fff; /* 更明显 */
}

/* project bullet point */
p {
    font-size: 14px;
    margin: 4px 0;
    line-height: 1.2;
    text-indent: -2px;
    padding-left: 15px;
    position: relative;
}

p::before {
    content: "•";
    position: absolute;
    left: 0;
    color: inherit;
    font-weight: bold;
}
/* page back to home buttom */
.back-button {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 22px;
    text-decoration: none;
    background-color: #F8D794;
    color: #BB6830;
    font-weight: 550;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按钮阴影 */
    transition: background 0.3s, transform 0.3s;
}
.back-button:hover {
    background-color: #BB6830;
    color: #F8D794;
    font-weight: 550;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 按钮阴影 */
    transform: scale(1.05);
}

/* Scroll to top button */
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border: none;
    outline: none;
    background-color: #F8D794;
    color: #BB6830;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}
#scrollTopBtn:hover {
    background-color: #BB6830;
    color: #F8D794;
    font-weight: 300;
    transform: scale(1.1);
}

footer {
    position: static;  /* 让footer变为文档流的一部分 */
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 10px;
    color: #555;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}

/* Phone Responsive */
@media (max-width: 768px) {
    .projects-conferences {
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.1);
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .projects, .conferences {
        flex: 1 1 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
    .projects-conferences h2 {
        font-size: 20px;
    }
    /* project period */
    h3 {
        font-size: 16px;
    }
    /* project name + details button */
    h4 {
        font-size: 14px;
    }
    h4 .details-button {
        padding: 2px 5px; /* 手机端更小 */
        font-size: 0.6rem; /* 缩小字体 */
        margin: 4px; /* 增加间距防止拥挤 */
    }
    /* publication, looks like citation */
    .publication-item {
        font-size: 14px;
    }
    .download-button {
        padding: 4px 8px;
        font-size: 0.7rem; /* 更小按钮尺寸 */
        margin: 4px; /* 增加间距防止拥挤 */
    }
    .back-button {
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        padding: 8px 16px;
        font-size: 14px;
    }  
    .footer {
        position: static;  /* 让footer变为文档流的一部分 */
        bottom: auto !important;
        left: auto !important;
        right: auto !important;
        width: 100%;
        margin-top: 10px;  /* 给footer和上面内容一些间距 */
        font-size: 8px;
    }
}
